$primary_color_1: #1732FF;
$primary_color_2: #1562E0;
$primary_color_3: #23ABF7;
$primary_color_4: #15CDE0;
$primary_color_5: #17FBD2;
$primary_color_6: #dedede;

/*anims*/
$transition_menu_1: .15s linear;