.wrapper{
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: .5em 0em 1.2em .2em #000;
}

.wrapper .container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.wrapper .container li{
    border: 1px solid #000;
    position: relative;
    margin: 1em;
    width: 7em;
    min-height: 2em;
    text-align: center;
    font-size: 1em;
    line-height: 1.7em;
    border-radius: .5em;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,212,255,1) 100%);
    box-shadow: 0 0.4em 0.8em rgba(2,0,36,.8);
    transition: transform .1s;
}

.wrapper .container li:active{
    transform: translateY(.5em);
}

.wrapper .container li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}