@import '../../styles/global';

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
}

.container .logo{
    position: absolute;
    width: 70%;
    max-width: 14em;
    height: 4em;
    left: 50%;
    transform: translateX(-50%) rotateY(0deg);
    background-image: url(../../assets/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: transform .5s linear;
}

.container .logo.anim{
    transform: translateX(-50%) rotateY(360deg);
}